<app-navbar></app-navbar>
<div class="container player" *ngIf="songs">
    <div class="container-fluid">
        <div class="row list" *ngFor="let song of songs; let i = index" (click)="playSong(song, i)">
            <div class="col-1 list-item logo-container">
                <img class="icon" src="../../../assets/images/icon.png">
            </div>
            <div class="col-11 list-item song-info-container">
                <div class="song-info">
                    <h3 class="mb-0">{{song.name}}</h3>
                    <h5 class="mb-0">Artist: {{song.author}}</h5>
                </div>
                <div class="song-duration">
                    <span>{{song.duration}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="player-control" *ngIf="songs && currentSong">
        <audio #player id="audioplayer" controls>
            <source [src]="baseURL + currentSong.index" type="audio/mpeg" />
        </audio>
        <div class="player-box">
            <div class="track-info">
                <h4 class="current-track">{{currentSong.name}}</h4>
            </div>
            <div class="range-slider">
                <input type="range" class="form-range range-slider-input" min=0 [max]="getSongDuration()" value=0 (change)="seekAudio($event)">
                <div class="time-durations">
                    <span>00:00</span>
                    <span>{{currentSong.duration}}</span>
                </div>
            </div>
            <div class="control-buttons">
                <div class="button-group">
                    <div class="prev">
                        <fa-icon [icon]="faCircleChevronLeft" size="2x" (click)="prevTrack()"></fa-icon>
                    </div>
                    <div class="play-pause">
                        <fa-icon [icon]="faCirclePlay" size="4x" (click)="playAudio()" *ngIf="player.paused"></fa-icon>
                        <fa-icon [icon]="faCirclePause" size="4x" (click)="pauseAudio()" *ngIf="!player.paused"></fa-icon>
                    </div>
                    <div class="next">
                        <fa-icon [icon]="faChevronCircleRight" size="2x" (click)="nextTrack()"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>