:host
    .player
        margin-top: 10px
        height: calc(100vh - 48px)
        background: #ccc
        .list
            height: 50px
            margin-top: 5px
            .list-item
                height: 50px
                &.logo-container
                    display: flex
                    justify-content: center
                    align-items: center
                &.song-info-container
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .song-info
                        min-width: 0
                        h3, h5
                            white-space: nowrap
                            overflow: hidden
                            text-overflow: ellipsis
                .icon
                    width: 30px
                    
    .player-control
        position: fixed
        bottom: 0px